@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.services {
  padding-top: 70px;
  padding-bottom: 70px;
  background: $bgColor;

  .servicesItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-value("margin-bottom", 55, 35, 0);
    margin-top: 55px;

   
  }
  .serviceBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      justify-content: flex-start;
    }

    .servicesImage {
      @include adaptiv-value("width", 550, 220, 0);
      object-fit: cover;
      @media (max-width: 992px) {
        display: none;
      }
    }

    .info {
      h2 {
        @include adaptiv-value("font-size", 51, 24, 0);
        @include adaptiv-value("line-height", 61, 43, 0);
        max-width: 640px;
        @include adaptiv-value("margin-bottom", 30, 10, 0);
      }

      h4 {
        @include adaptiv-value("margin-bottom", 10, 6, 0);
        font-size: 20px;
      }

      p {
        @include adaptiv-value("font-size", 19, 14, 0);
        line-height: 27px;
        max-width: 643px;
        color: #c4c4c4;
        @include adaptiv-value("margin-bottom", 33, 20, 0);
      }

      a {
        text-transform: uppercase;
        @include adaptiv-value("font-size", 22, 14, 0);
        line-height: 26px;
        padding: 14px 39px;
        background: $yellow;
        border-radius: 3px;
        transition: all 0.2s ease;
        color: black;
        &:hover {
          background: $yellowHover;
          color: white;
        }
      }
    }
  }
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  padding: 30px;
  border: 1px solid;
  flex-basis: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s;

  &:hover {
    transform: scale(0.97);
    box-shadow: 0 2px 20px $yellow;

    a {
      inset: 0;
    }
  }

  h4 {
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $yellow;
      @include adaptiv-value('margin-bottom', 30, 20, 0);
      line-height: 30px;
      cursor: pointer;
      transition: color 0.2s ease;
      &:hover {
        opacity: 0.9;
      }
      &.active {
        opacity: 0.9;
      }
  }

  a {
    position: absolute;
  }
}
