@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.services {
  padding-top: 70px;
  padding-bottom: 42px;
  background: $bgColor;

  .servicesItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-value("margin-bottom", 55, 35, 0);
    margin-top: 55px;
  }
}

.toprow {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  min-height: 102px;

  &__title {
    font-size: 20px;
    line-height: 137%;
    color: #ffffff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: color 0.2s ease;

    &:hover {
      opacity: 0.9;
    }

    &.active {
      opacity: 0.9;
    }
  }
}

.bottomrow {
  display: flex;
  flex-direction: column;

  &__text {
    font-size: 16px;
    line-height: 120%;
    color: #C6C6C6;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.grid_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  padding: 30px;
  border-radius: 15px;
  background-color: #1E0C30;
  flex-basis: 410px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(0.97);
    box-shadow: 0 2px 20px $yellow;

    a {
      inset: 0;
    }
  }

  h4 {
    letter-spacing: 0.05em;
    text-transform: uppercase;

    transition: color 0.2s ease;
    &:hover {
      opacity: 0.9;
    }
    &.active {
      opacity: 0.9;
    }
  }

  a {
    position: absolute;
  }
}
