@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.services {
  padding-top: 70px;
  padding-bottom: 70px;
  background: $bgColor;

  .servicesItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 55px;

    h4 {
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #878585;
      @include adaptiv-value("font-size", 25, 16, 0);
      line-height: 30px;
      cursor: pointer;
      transition: color 0.2s ease;
      &:hover {
        color: white;
      }
      &.active {
        color: white;
      }
    }
  }
  .serviceBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .servicesImage {
      @include adaptiv-value("width", 550, 350, 0);
    }

    .info {
      h2 {
        @include adaptiv-value("font-size", 51, 33, 0);
        @include adaptiv-value("line-height", 61, 43, 0);
        max-width: 640px;
        margin-bottom: 30px;
      }

      p {
        @include adaptiv-value("font-size", 23, 18, 0);
        line-height: 27px;
        max-width: 643px;
        color: #c4c4c4;
        margin-bottom: 33px;
      }

      a {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 26px;
        padding: 14px 39px;
        background: $yellow;
        border-radius: 3px;
        transition: all 0.2s ease;
        color: black;
        &:hover {
          background: $yellowHover;
          color: white;
        }
      }
    }
  }
}
