@import "../../../../assets/styles/variables";
.hero {
  padding-top: 50px;
  padding-bottom: 100px;
  position: sticky;
  top: 0;
  z-index: -1;
  .heroBody {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 58px;
      line-height: 128%;
      margin-bottom: 29px;
    }
    .text {
      font-size: 34px;
      line-height: 111.9%;
      margin-bottom: 40px;
    }
    .button {
      font-size: 16px;
      line-height: 19px;
      background: #000;
      background: $yellow;
      padding: 12px 36px;
      border-radius: 3px;
      transition: all 0.2s ease;

      &:hover {
        background: $yellowHover;
        color: white;
      }
    }
  }
}
