.check {
  padding-left: 44px;
  font-size: 16px;
  line-height: 124%;
  font-weight: 400;
  font-family: "Inter";
  cursor: pointer;
  width: 270px;
  margin-bottom: 30px;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check__box {
  position: absolute;
  margin-top: 1px;
  margin-left: -34px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.check__input:checked + .check__box {
  background-color: #8000FF;
  border: 3px solid white;
}

.check__input:hover + .check__box {
}
