.wrapper {
}

.title {
  font-size: 16px;
  line-height: 124%;
  font-weight: 500;
  color: #fff2dc;
  margin-bottom: 45px;
}

.error {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 12px;
  color: red;
}
