@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.title {
  text-align: center;
  @include adaptiv-value("font-size", 42, 24, 0);
  @include adaptiv-value("line-height", 50, 32, 0);
  @include adaptiv-value("margin-bottom", 83, 20, 0);
}

.thanksForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.error {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 12px;
  color: red;
}

.errorScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.nextBtn {
  align-self: flex-end;
  @include adaptiv-value('padding-top', 19, 15, 0);
  @include adaptiv-value('padding-bottom', 19, 15, 0);
  @include adaptiv-value('padding-left', 52, 30, 0);
  @include adaptiv-value('padding-right', 52, 30, 0);
  background-color: #EAD1A6;
  border-radius: 5px;
  font-weight: 700;
  @include adaptiv-value('font-size', 18, 16, 0);
  line-height: 124%;
  transition: all 0.2s ease;

  &:hover {
    background: $yellowHover;
    color: white;
  }
  &:disabled {
    background:lightgray;
  }

  @media (max-width: 991px) {
    align-self: center;
  }
}

.variants {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  @media (max-width: 1200px) {
    justify-content: center;
  }
}
