@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.cases {
  padding-top: 70px;
  padding-bottom: 70px;
  .casesItems {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
    @media (max-width: 1300px) {
      flex-direction: column;
      align-items: center;
    }
    .casesItem {
      background: #1a172d;
      padding: 80px 57px;
      // @include adaptiv-value("padding-top", 80, 40, 0);
      // @include adaptiv-value("padding-bottom", 80, 40, 0);
      // @include adaptiv-value("padding-left", 57, 25, 0);
      // @include adaptiv-value("padding-right", 57, 25, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      min-width: 600px;
      position: relative;
      cursor: pointer;
      &:hover {
        .hoverBlock {
          opacity: 1;
          transform: scale(1);
        }
      }

      img {
        object-fit: cover;
      }
    }
    .hoverBlock {
      position: absolute;
      transition: all 0.3s ease;
      top: 0;
      left: 0;
      background: $yellow;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      transform: scale(0);
      opacity: 0;
      padding: 42px 35px;
      display: flex;
      flex-direction: column;

      h3 {
        @include adaptiv-value("font-size", 45, 30, 0);
        line-height: 57px;
        color: black;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      p {
        flex: 1;
        font-size: 22px;
        line-height: 143.4%;
        max-width: 517px;
        color: black;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      button {
        font-size: 22px;
        line-height: 143.4%;
        background: none;
        border: none;
        text-align-last: left;
      }
    }
  }
}
