@import "../../../../assets/styles/variables";

.awards {
  padding-top: 70px;
  padding-bottom: 70px;
  .awardsBody {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 26px;
    flex-wrap: wrap;
  }

  .awardsItem {
    max-width: 473px;
    .image {
      margin-bottom: 20px;
    }

    h3 {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
      line-height: 157.52%;
      font-weight: 500;
      color: #c6c6c6;
      margin-bottom: 30px;
    }

    button {
      background: #ead1a6;
      border-radius: 16px;
      padding: 14px 39px;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 26px;
      transition: all 0.2s ease;
      &:hover {
        color: white;
        background: $yellowHover;
      }
    }
  }
}
