@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
.benefits {
  padding-top: 100px;
  padding-bottom: 70px;
  background: $lighterBg;
  z-index: 20;

  .benefitsBody {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    @media (max-width: 1200px) {
      justify-content: center;
    }
    .image {
      @media (max-width: 1200px) {
        display: none;
      }
    }
    .info {
      max-width: 720px;

      h2 {
        margin-bottom: 40px;
        text-transform: uppercase;
      }

      .benefitsItems {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 35px;
      }

      .benefitsItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 17px;

        h3 {
          max-width: 275px;
          @include adaptiv-value("font-size", 20, 15, 0);
        }
      }
      p {
        line-height: 157.52%;
        color: #c6c6c6;
      }
    }
  }
}
